# Archivos y carpetas de IntelliJ IDEA
.idea/
*.iml
*.gitignore
# Archivos de compilación
/out/
build/

# Archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Archivos de dependencias locales
*.class
*.jar
*.war
*.ear

# Archivos generados por Maven/Gradle
target/
*.log
.gradle/
!gradle-wrapper.jar

# Archivos de configuración del entorno
*.env
*.settings/

# Logs
*.log
